<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->

    <% if current_page.path == "index.html" || current_page.path == "join-us.html" %>
      <title><%= current_page.data.title %></title>
    <% else %>
      <title><%= current_page.data.title %> | Yes on E: Opportunity to Work</title>
    <% end %>

    <!-- styles & scripts -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "scripts.min" %>

    <!-- Social Meta Tags -->
    <% if current_page.data.social_title %>
      <meta property="og:title" content="<%= current_page.data.social_title %>"/>
    <% else %>
      <meta property="og:title" content="<%= current_page.data.title %>"/>
    <% end %>

    <% if current_page.data.social_image %>
      <meta property="og:image" content="http://opportunitytowork.org/images/<%=  current_page.data.social_image %>" />
    <% else %>
      <meta property="og:image" content="http://opportunitytowork.org/images/social-icon.jpg" />
    <% end %>

    <meta property="og:url" content="http://opportunitytowork.org<%= current_page.url %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Yes on E: Opportunity to Work"/>
    <meta property="og:description" content="<%= current_page.data.desc || current_page.data.teaser || "Measure E will help hourly workers get access to enough hours so their paycheck covers the bills and puts food on the table." %>" />


    <!-- Google Analytics -->
    <% if build? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74679170-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>

    <!-- Facebook Pixel -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '176643956073381');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=176643956073381&ev=PageView&noscript=1"
    /></noscript>

  </head>

<!-- BODY -->
<body class="<%= page_classes %>">

  <div class="body-wrapper">

    <!--HEADER -->
    <div class="site-section site-section--header" id="header">
    <header class="site-section__content site-section__content--header site-header">

      <div class="mobile-header">

        <h2 class="site-header__logo logo logo--header"><% link_to 'index.html' do %>
          <span class="logo__yes">Yes</span>
          <span class="logo__on">on</span>
          <span class="logo__e">E</span>
        <% end %></h2>

        <a href="#" class="site-header__nav-btn" id="header__nav-btn"><span>Menu</span></a>

      </div>

      <nav class="site-header__nav top-nav top-nav--js-closed">
        <ul>
          <li><%= link_to 'Why', '/why.html', :class => "top-nav__item" %></li>
          <li><%= link_to 'About', '/about.html', :class => "top-nav__item" %></li>
          <li><%= link_to 'Endorsements', '/endorsements.html', :class => "top-nav__item" %></li>
          <li><%= link_to 'Stories', '/stories.html', :class => "top-nav__item" %></li>
          <li><%= link_to 'News', '/news.html', :class => "top-nav__item" %></li>
          <li><%= link_to 'Get Involved', '/get-involved.html', :class => "top-nav__item top-nav__item--action" %></li>
        </ul>
      </nav>

    </header>
    </div>

    <%= yield %>

    <!-- FOOTER -->
    <div class="site-section site-section--footer">
    <footer class="site-section__content footer">

      <div class="footer__content">

        <div class="footer__branding">
          <h4 class="logo logo--footer"><% link_to 'index.html' do %>
            <span class="logo__yes">Yes</span>
            <span class="logo__on">on</span>
            <span class="logo__e">E</span>
          <% end %></h4>

          <a href="http://siliconvalleyrising.org" target="_blank" class="footer__svr-link">A <strong>Silicon Valley Rising</strong> Initiative</a>
        </div><!-- .footer__branding -->

        <div class="footer__info">
          <h4>Contact</h4>

          <p>Tel: (408) 606-2060</p>
          <p>Media Inquiries: <a href="mailto:media@opportunitytowork.org">media@opportunitytowork.org</a></p>
          <p>Campaign Opportunities: <a href="mailto:info@opportunitytowork.org">info@opportunitytowork.org</a></p>
        </div><!-- .footer__info -->
        
      </div><!-- .footer__content -->

      <p class="footer__disclaimer">Paid for by Yes on Measure E, the Opportunity to Work Initiative, sponsored by the South Bay Labor Council, a coalition of a popular democracy non-profit and labor unions, with major funding by Center for Popular Democracy Action Fund and SEIU United Healthcare Workers West Political Issues Committee, 2102 Almaden Road, Suite 112, San Jose, CA 95125. FPPC ID #1382518.</p>
      
    </footer>
    </div><!-- .site-section--footer -->


  </div><!-- .body-wrapper -->

  <!-- SOCIAL SHARE ICONS -->
  <ul class="share-overlay">
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://opportunitytowork.org<%= current_page.url %>&t=<%= current_page.data.title %>" target="_blank" class="share-overlay__btn share-overlay__btn--facebook">
        <span class="visuallyhidden">Facebook</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/share?&text=<%= current_page.data.title %>&url=http://opportunitytowork.org<%= current_page.url %>" target="_blank" class="share-overlay__btn share-overlay__btn--twitter">
        <span class="visuallyhidden">Twitter</span>
      </a>
    </li>
  </ul>

</body>
</html>
