<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="initial-scale=1.0" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Yes on Measure E: Opportunity to Work" %></title>

    <!-- styles & scripts -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "scripts" %>

    <!-- Google Analytics -->
    <!-- TK TK TK -->
  </head>

<!-- BODY -->
<body class="<%= page_classes %>">

  <div class="body-wrapper">

    <!--HEADER -->
    <div class="site-section site-section--header" id="header">
    <header class="site-section__content site-section__content--header site-header">

      <div class="mobile-header">

        <h2 class="site-header__logo logo logo--header"><a href="http://opportunitytowork.org">
          <span class="logo__yes">Yes</span>
          <span class="logo__on">on</span>
          <span class="logo__e">E</span>
        </a></h2>

        <a href="#" class="site-header__nav-btn"><span>Menu</span></a>

      </div>

      <nav class="site-header__nav top-nav top-nav--js-closed">
        <ul>
          <li><a href="" class="top-nav__item">Why</a></li>
          <li><a href="" class="top-nav__item">About</a></li>
          <li><a href="" class="top-nav__item">Endorsements</a></li>
          <li><a href="" class="top-nav__item">Stories</a></li>
          <li><a href="" class="top-nav__item">News</a></li>
          <li><a href="" class="top-nav__item top-nav__item--action">Get Involved</a></li>
        </ul>
      </nav>

    </header>
    </div>

    <%= yield %>

    <!-- FOOTER -->
    <div class="site-section site-section--footer">
    <footer class="site-section__content footer">

      <div class="footer__content">

        <div class="footer__branding">
          <h4 class="logo logo--footer"><a href="http://opportunitytowork.org">
            <span class="logo__yes">Yes</span>
            <span class="logo__on">on</span>
            <span class="logo__e">E</span>
          </a></h4>

          <a href="http://siliconvalleyrising.org" target="_blank" class="footer__svr-link">A <strong>Silicon Valley Rising</strong> Initiative</a>
        </div><!-- .footer__branding -->

        <div class="footer__info">
          <h4>Contact</h4>

          <p>Tel: (408) 606-2060</p>
          <p>Media Inquiries: <a href="mailto:media@opportunitytowork.org">media@opportunitytowork.org</a></p>
          <p>Campaign Opportunities: <a href="mailto:info@opportunitytowork.org">info@opportunitytowork.org</a></p>
        </div><!-- .footer__info -->
        
      </div><!-- .footer__content -->

      <p class="footer__disclaimer">Paid for by Yes on Measure E, the Opportunity to Work Initiative, sponsored by the South Bay Labor Council, a coalition of a progressive popular democracy non-profit and labor unions, with major funding by Center for Popular Democracy Action Fund and California State Council of Service Employees Issues Committee. 2102 Almaden Road #114 San Jose, CA 95125. FPPC ID# 1382518.</p>

      
      
    </footer>
    </div>


  </div><!-- .body-wrapper -->
</body>
</html>
