---
title: "FAQs"
---

<!-- SECTION HEADING -->
<%= partial "subheader_about" %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<article class="grid__col main-col content">

    		<h2 class="page-header">FAQs</h2>

            <section class="faq__item">
                <h3 class="faq__question">Who will benefit from Measure E: Opportunity to Work?</h3>
                
                <p class="faq__answer">Measure E will benefit the entire community. It will help part-time workers, who are disproportionately people of color and women, earn enough to afford to live and stay in this community. By helping to alleviate the poverty of these workers, Opportunity To Work will improve the local economy and reduce dependency on government services and charity.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Why is Measure E necessary?</h3>
                
                <p class="faq__answer">Silicon Valley is experiencing a crisis of underemployment. Tens of thousands of people in San Jose work part-time and additional hours at work would help them earn enough to afford basic necessities like food, rent, and medical costs.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Is Measure E a job killer?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> There is no reason to believe that Measure E will decrease overall employment levels. It is designed to induce a shift in employment from part­-time to full­-time work.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Will Measure E reduce the number of people employed?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Measure E will encourage hiring practices that produce the kinds of jobs workers need. Our economy is producing large numbers of part-time jobs. Measure E will provide trained, part-time workers with the opportunity to work additional hours at their current job.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Will Measure E require employers to hire workers for periods of time when the employers do not need those workers?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Under Measure E employers will continue to determine the duration and time periods of work shifts. Measure E only requires that employers offer newly available work shifts to current part-time employees before hiring additional part-time employees.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Will Measure E require employers to hire unqualified workers?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Under Measure E employers will continue to determine whether workers are qualified to be hired for additional work hours.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Under Measure E how are employers supposed to offer their current employees additional hours?</h3>
                
                <p class="faq__answer">The offer must be transparent and non-discriminatory. Those are the only requirements. The offer may be made through emails to employees, posted on an electronic or physical bulletin board or transmitted in any number of other ways. To be a legitimate offer, the opportunity to work additional hours must be communicated to qualified employees in a manner that gives them the opportunity to accept the offer.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Does Measure E require that the offer of additional work hours be left open for some minimum period of time before an employer can hire from outside the company?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Under Measure E the offer of additional hours to current employees must be communicated in a manner that gives them the opportunity to accept the offer. However, employers could leave the offer of additional hours open for a short period of time, if for instance they needed to hire on short notice.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Does Measure E burden businesses with heavy record keeping or other major administrative expenses?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Under Measure E employers simply must keep records showing that they offered additional work hours to current, qualified employees before hiring from outside their companies. Employers generally keep records of job offers already.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Does Measure E expose employers to a significant risk of litigation?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Once it becomes law, employers can be sued for violating Opportunity To Work, just as they can be sued for violating the City’s minimum wage ordinance. The ordinance states, however, "...that no fines, fees or civil penalties shall be assessed for an Employer’s first violation," in order to give substantial time for employers to comply appropriately.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Why do some employers hire more part­-time workers instead of giving current employees more work hours?</h3>
                
                <p class="faq__answer">Far too many large and medium sized corporations keep workers under a certain number of hours to avoid paying for health insurance and other benefits like paid sick days.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Does Measure E interfere with businesses’ ability to be flexible in operations?</h3>
                
                <p class="faq__answer"><strong>NO.</strong> Measure E says that when a business decides they have additional work shifts, they must first offer the additional hours to qualified employees already on their payroll before hiring new part-time or temporary workers. Opportunity To Work does not interfere with businesses’ delivery of products or services, the number or length of work shifts, or the qualifications desired from workers.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">After Measure E goes into effect, will there still be a lot of part-time jobs?</h3>
                
                <p class="faq__answer"><strong>YES.</strong> Because of technological advances and just in-time production our economy will continue to produce a large number of part­-time jobs. Many workers also prefer to work part-time, and Measure E will not affect their ability to remain part-time workers if they choose.</p>
            </section>

            <section class="faq__item">
                <h3 class="faq__question">Is there a risk of unintended consequences?</h3>
                
                <p class="faq__answer">To minimize the risk of unintended consequences, Measure E does three things: first, it exempts small businesses; second, it provides for a ‘hardship exemption’ for businesses that have reasonable difficulty complying; and third, it allows the City Council to amend the ordinance in order to clarify it.</p>
            </section>

    		
    	</article>
    	<div class="grid__col">
            <%= partial(:sidebar, :locals => { :classes => '', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->

<!-- MORE LINKS -->
<section class="site-section site-section--green">
    <div class="site-section__content content">

        <ul class="grid--three-col">

            <li class="grid__col">
                <% link_to '/files/OTW_FAQs.pdf', :class => "media-object link-block link-block--white", :target => "_blank" do %>

                    <img class="media-object__figure media-object__figure--border" src="<%= responsive_img_path('images/faqs.png', "1x") %>" srcset="<%= responsive_img_path('images/faqs.png', "1x") %> 1x, <%= responsive_img_path('images/faqs.png', "2x") %> 2x" alt="Measure E FAQs">

                    <div class="media-object__content">
                        <h3 class="link-block__heading">Download FAQs</h3>
                        <p class="link-block__content">Get these FAQs as a printable PDF</p>
                        <p class="link-block__more-link">Download PDF</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <% link_to '/about/lies.html', :class => "media-object link-block link-block--white" do %>
                    <div class="media-object__content">
                        <h3 class="link-block__heading">Chamber Lies</h3>
                        <p class="link-block__content">Measure E’s opponents have made a slew of misleading claims about the initiative</p>
                        <p class="link-block__more-link">Get the facts</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <%= partial "bottom-story" %>
            </li>

        </ul>

    </div><!-- .site-section--content -->
</section><!-- .site-section -->




























