<% blog('stories').articles[0...1].each do |story| %>
	<% link_to story.url, :class => "link-block link-block--popout story-link" do %>

	    <div class="media-object media-object--collapse-mobile">
	        <img class="media-object__figure media-object__figure--circle" src="<%= responsive_img_path(story.data.image_icon, "1x") %>" srcset="<%= responsive_img_path(story.data.image_icon, "1x") %> 1x, <%= responsive_img_path(story.data.image_icon, "2x") %> 2x" alt="<%= story.data.first_name %>">
	        <blockquote class="media-object__content story-link__quote">&ldquo;<%= story.data.quote %>&rdquo;</blockquote>
	    </div>

	    <p class="link-block__content story-link__content"><%= story.data.teaser %></p>

	    <p class="link-block__more-link">Read <%= story.data.first_name %>'s story</p>
	<% end %>
<% end %>