<div class="big-overlay modal" id="ordinance">

	<article class="big-overlay__content modal__content">

		<a href="#" class="modal__close-btn">&#10005;</a>

		<section class="ord-graphic site-section__content content">

			<h1 class="ord-graphic__header">Opportunity to Work</h1>

			<p class="ord-graphic__subheader">A <a href="http://siliconvalleyrising.org" target="_blank">Silicon Valley Rising</a> Initiative</p>

			<p class="ord-graphic__intro-text">San Jose's Opportunity to Work Ordinance is now in effect! Here's what you should know:</p>

			<p class="ord-graphic__conditional">If...</p>

			<ul class="grid--three-col">
				<li class="grid__col ord-graphic__item media-object">
					<img class="media-object__figure" src="<%= responsive_img_path('images/ord_hours.png', "1x") %>" srcset="<%= responsive_img_path('images/ord_hours.png', "1x") %> 1x, <%= responsive_img_path('images/ord_hours.png', "2x") %> 2x" alt="Help wanted">
					<p class="media-object__content">Your employer has <strong>more work hours available</strong></p>
				</li>

				<li class="grid__col ord-graphic__item media-object">
					<img class="media-object__figure" src="<%= responsive_img_path('images/ord_qualified.png', "1x") %>" srcset="<%= responsive_img_path('images/ord_qualified.png', "1x") %> 1x, <%= responsive_img_path('images/ord_qualified.png', "2x") %> 2x" alt="A qualified worker">
					<p class="media-object__content">You’re an hourly worker who is <strong>qualified</strong> to do the job</p>
				</li>

				<li class="grid__col ord-graphic__item media-object">
					<img class="media-object__figure" src="<%= responsive_img_path('images/ord_35.png', "1x") %>" srcset="<%= responsive_img_path('images/ord_35.png', "1x") %> 1x, <%= responsive_img_path('images/ord_35.png', "2x") %> 2x" alt="A medium-to-large company">
					<p class="media-object__content">At least <strong>35 people</strong> work at your company</p>
				</li>
			</ul>

			<p class="ord-graphic__conditional">Then...</p>

			<div class="media-object ord-graphic__bottom-box">
				<img class="media-object__figure" src="<%= responsive_img_path('images/ord_offer.png', "1x") %>" srcset="<%= responsive_img_path('images/ord_offer.png', "1x") %> 1x, <%= responsive_img_path('images/ord_offer.png', "2x") %> 2x" alt="A job offer">
				<p class="media-object__content">You must be <strong>offered those hours</strong> before a new worker is hired</p>
			</div>

			<div class="ord-graphic__questions">
				<h3>Questions?</h3>
				<p>Contact the City of San Jose’s Office of Equality Assurance: (408) 535-8430 or <a href="mailto:opportunitytowork@sanjoseca.gov">opportunitytowork@sanjoseca.gov</a></p>
			</div>
			
		</section>

		<section class="site-section__content site-section--yellow ord-signup">

			<h2 class="ord-signup__header">Win More Victories Like This</h2>

			<div class="ord-signup__form">
				<script src='https://actionnetwork.org/widgets/v2/form/join-silicon-valley-rising?format=js&source=widget&style=full'></script><div id='can-form-area-join-silicon-valley-rising' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
			</div>
			
		</section>

	</article>
	
</div>