---
title: "Yes on Measure E: Opportunity to Work"
---

<!-- HERO -->
<section class="site-section site-section--hero">
    <div class="site-section__content hero">

    	<div class="hero__text">
    		<h1 class="hero__heading"><span class="hero__heading--small">Give part-time employees the</span> <span class="hero__heading--mid">Opportunity</span> <span class="hero__heading--large">to Work</span></h1>

    		<p class="hero__desc"><strong>Measure E</strong> will require businesses to offer any available <strong>additional hours</strong> to their current, qualified part-time employees <strong>before hiring more workers.</strong></p>
    	</div>

    </div>
</section>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<div class="grid__col main-col content">

    		<h2>Measure E will help hourly workers get access to enough hours so their paycheck covers the bills and puts food on the table.</h2>

    		<p>San Jose has a <%= link_to 'crisis of underemployment', 'why.html' %>. To avoid paying fair wages and benefits, too many employers hire new part-time workers instead of giving hours to current employees.</p>

            <p><%= link_to 'Measure E', 'about.html' %> will ensure that if a company has more hours of work and an existing part-time employee who is qualified to do the job, that employee gets the opportunity to work those hours, so they can earn enough to make ends meet.</p>

    		<p><%= link_to 'The Underemployment Crisis', 'why.html' %> | <%= link_to 'About the Initiative', 'about.html' %></p>

    		
    	</div>
    	<div class="grid__col">
            <%= partial(:sidebar, :locals => { :classes => 'sidebar--push-up', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
    	</div>
    </div>
</section>

<!-- STORIES -->
<section class="site-section site-section--stories">
	<ul class="stories-slider">
		<li class="stories-slider__side"></li>
		<li class="stories-slider__slide">
            <% blog('stories').articles[0...1].each do |story| %>
                <a href="<%= story.url %>" class="stories-slider__img" style="background-image: url(<%= responsive_img_path(story.data.image_main, "2x") %>);">
                </a>
                <div class="stories-slider__text">
                    <blockquote>&ldquo;<%= story.data.quote %>&rdquo;</blockquote>
                    <p><%= story.data.teaser %></p>

                    <%= link_to 'Read More', story.url, :class => "button button--list" %>
                    <%= link_to 'All Stories', 'stories.html', :class => "button button--outline" %>
                    
                </div>
            <% end %>
		</li>
		<li class="stories-slider__side"></li>
		
	</ul>
</section>


<!-- MORE LINKS -->
<section class="site-section">
    <div class="site-section__content content">

    <ul class="grid--three-col">

        <li class="grid__col">
            <% link_to 'endorsements.html', :class => "link-block" do %>
                <h3 class="link-block__heading">Endorsements</h3>
                <p class="link-block__content">Measure E is supported by a broad coalition of elected officials, community organizations, and civic leaders</p>
                <p class="link-block__more-link">See all endorsements</p>
            <% end %>
        </li>

        <li class="grid__col">
            <% link_to 'about/faqs.html', :class => "link-block" do %>
                <h3 class="link-block__heading">FAQs</h3>
                <p class="link-block__content">Have questions about Measure E? We've got answers</p>
                <p class="link-block__more-link">Get the facts</p>
            <% end %>
        </li>

        <li class="grid__col">
            <% link_to 'files/OTW_language.pdf', :class => "link-block", :target => "_blank" do %>
                <h3 class="link-block__heading">Read Measure E</h3>
                <p class="link-block__content">See for yourself &mdash; read the full text of Measure E: Opportunity to Work</p>
                <p class="link-block__more-link">Read the initiative</p>
            <% end %>
        </li>

    </ul>
        
    </div>
</section>
































