---
title: "News Coverage"
articles:
-
    url: "http://www.bizjournals.com/sanjose/news/2016/11/09/how-silicon-valley-business-fared-on-key-ballot.html"
    headline: "How Silicon Valley business fared on key ballot measures"
    publication: "Silicon Valley Business Journal"
    date: "11/9/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/11/08/election-2016-measure-e-opportunity-to-work.html"
    headline: "Should employers offer more hours to part-time workers?"
    publication: "Silicon Valley Business Journal"
    date: "11/8/16"
-
    url: "http://www.nbcbayarea.com/news/local/For-Some-Families-in-SJ-Measure-E-is-a-Matter-of-Survival-400194241.html"
    headline: "For Some Families in San Jose, Measure E is a Matter of Survival"
    publication: "NBC Bay Area"
    date: "11/6/16"
- 
    url: "http://opportunitytowork.org/news/dilsa-challenge"
    headline: "Part-Time Worker Challenges Chamber of Commerce to Survive on Her Wages"
    publication: "Yes on E Campaign"
    date: "11/6/16"
- 
    url: "http://www.mercurynews.com/2016/10/31/oct-31-readers-letters-vote-yes-on-san-joses-measure-f/"
    headline: "Letter: Measure E benefits working women"
    publication: "San Jose Mercury News"
    date: "10/31/16"
- 
    url: "http://www.mercurynews.com/2016/10/29/oct-29-readers-letters-vote-yes-on-san-joses-measure-f/"
    headline: "Letter: Measure E offers much-needed financial security"
    publication: "San Jose Mercury News"
    date: "10/29/16"
- 
    url: "http://www.mercurynews.com/2016/10/27/oct-28-readers-letters-prop-63-wont-address-true-causes-of-violence/"
    headline: "Letter: Measure E isn’t just an economic issue"
    publication: "San Jose Mercury News"
    date: "10/28/16"
-
    url: "http://www.mercurynews.com/2016/10/26/oct-27-readers-letters-measure-a-will-fund-affordable-homes/"
    headline: "Letter: Measure E will help San Jose families"
    publication: "San Jose Mercury News"
    date: "10/27/16"
-
    url: "http://www.eastbaytimes.com/2016/10/23/after-minimum-wage-changes-bay-area-worker-advocates-push-for-fair-scheduling/"
    headline: "After minimum wage changes, Bay Area workers push for fair scheduling"
    publication: "East Bay Times"
    date: "10/23/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/10/18/patriotic-millionaires-endorse-opportunity-to.html"
    headline: "&#34;Patriotic Millionaires&#34; endorse Opportunity to Work measure"
    publication: "Silicon Valley Business Journal"
    date: "10/18/16"
-
    url: "http://www.mercurynews.com/2016/09/23/sept-26-readers-letters-sunnyvale-mayor-backs-measure-b/"
    headline: "Letter: Measure E gives part-timers a fighting chance"
    publication: "San Jose Mercury News"
    date: "9/26/16"
-
    url: "http://www.mercurynews.com/2016/09/22/san-joses-opportunity-to-work-draws-heated-arguments-from-both-sides/"
    headline: "San Jose&#39;s &#39;Opportunity to Work&#39; draws heated arguments from both sides"
    publication: "San Jose Mercury News"
    date: "9/22/16"
-
    url: "https://ww2.kqed.org/forum/2016/09/20/san-jose-ballot-measure-e-seeks-to-lift-part-time-workers/"
    headline: "San Jose Ballot Measure E Seeks to Lift Part-Time Workers"
    publication: "KQED"
    date: "9/21/16"
-
    url: "http://kron4.com/2016/08/16/supes-endorse-san-jose-ballot-initiative-that-would-give-part-time-workers-more-hours/"
    headline: "Supes endorse San Jose ballot initiative that would give part-time workers more hours"
    publication: "KRON4"
    date: "8/16/16"
-
    url: "http://www.univision.com/noticias/trabajo/desechan-iniciativa-de-horas-extra-en-san-jose-video"
    headline: "Desechan iniciativa de horas extra en San Jose"
    publication: "Univision"
    date: "6/29/16"
-
    url: "http://www.mercurynews.com/bay-area-news/ci_30068081/san-jose-council-agrees-send-opportunity-work-measure"
    headline: "San Jose voters to decide on 'Opportunity to Work'"
    publication: "San Jose Mercury News"
    date: "6/29/16"
-
    url: "http://www.univision.com/san-francisco/kdtv/noticias/trabajo/exigen-mas-horas-laborales-para-empleados-video"
    headline: "Exigen mas horas laborales para empleados"
    publication: "Univision"
    date: "6/28/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/06/29/san-jose-mayor-to-write-ballotargument-against.html"
    headline: "San Jose mayor to write ballot argument against part-time worker measure"
    publication: "San Jose Business Journal"
    date: "6/29/16"
-
    url: "http://abc7news.com/news/sj-city-leaders-may-require-employers-to-increase-hours-for-part-time-workers/1404959/"
    headline: "San Jose city leaders may require employers to increase hours for part-time workers"
    publication: "ABC7"
    date: "6/28/16"
-
    url: "http://www.sanjoseinside.com/2016/06/27/ballot-measure-would-boost-hours-for-part-time-workers/"
    headline: "Ballot Measure Would Boost Hours for Part-Time Workers"
    publication: "San Jose Inside"
    date: "6/27/16"
-
    url: "http://www.mercurynews.com/bay-area-news/ci_29932893/san-jose-council-discuss-initiative-boost-hours-part"
    headline: "San Jose will study measure to boost hours for part-time employees"
    publication: "San Jose Mercury News"
    date: "5/25/16"
-
    url: "http://www.shelterforce.org/article/4488/fight_for_full_time/"
    headline: "Fight for Full Time"
    publication: "Shelterforce"
    date: "5/19/16"
-
    url: "http://thelefthook.com/2016/05/08/what-women-want-this-mothers-day-opportunity/"
    headline: "What Women Want This Mother's Day: Opportunity"
    publication: "The Left Hook"
    date: "5/8/16"
-
    url: "http://www.thenation.com/article/this-problem-could-throw-a-wrench-in-the-fight-for-15/"
    headline: "$15 an Hour Won't Help These Workers"
    publication: "The Nation"
    date: "5/2/16"
-
    url: "http://www.sfgate.com/business/article/Silicon-Valley-part-time-workers-file-petition-to-7377188.php"
    headline: "Silicon Valley part-time workers file petition to work more hours"
    publication: "SFGATE"
    date: "4/26/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/04/26/measure-to-boost-part-time-worker-hours-headed-for.html"
    headline: "Measure to boost part-time worker hours headed for November ballot"
    publication: "Silicon Valley Business Journal"
    date: "4/26/16"
-
    url: "http://www.univision.com/san-francisco/kdtv/noticias/salario/estudio-revela-crisis-salarial-en-san-jose-video"
    headline: "Study reveals earnings crisis in San Jose"
    publication: "Univision"
    date: "4/21/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/04/21/underemployment-a-continuing-problem-for-silicon.html?ana=e_du_prem&s=article_du&ed=2016-04-21&u=zU%2FfJixp4MT%2B6PL1xksMiA09c26ccb&t=1461277040&j=72575552"
    headline: "Underemployment a continuing problem for Silicon Valley"
    publication: "Silicon Valley Business Journal"
    date: "4/21/16"
-
    url: "http://www.cbsnews.com/news/workers-next-big-fight-fairer-scheduling/"
    headline: "Workers' next big fight: Fairer scheduling"
    publication: "CBS Moneywatch"
    date: "4/20/16"
-
    url: "http://www.univision.com/san-francisco/kdtv/noticias/trabajo/piden-mas-horas-de-trabajo-y-mejores-salarios-en-san-jose-video"
    headline: "Call for more hours of work and better wages in San Jose"
    publication: "Noticias Univison 14"
    date: "2/17/16"
-
    url: "http://thelefthook.com/2016/01/25/opportunity-to-work-initiative-first-of-its-kind-in-the-nation/"
    headline: "Opportunity To Work Initiative – First of Its Kind in the Nation"
    publication: "The Left Hook"
    date: "1/25/16"
-
    url: "http://www.thenation.com/article/bridging-silicon-valleys-wealth-gap/"
    headline: "Silicon Valley's Wealth Gap"
    publication: "The Nation"
    date: "2/12/16"
-
    url: "https://ourfuture.org/20160125/silicon-valley-rising-offers-opportunity-to-work-initiative"
    headline: "Silicon Valley Rising Fights To Give Part-Timers “Opportunity to Work”"
    publication: "OurFuture.org"
    date: "1/25/16"
-
    url: "http://kron4.com/2016/01/25/san-jose-community-members-deliver-initiative-for-more-hours-to-part-time-workers/"
    headline: "San Jose community members deliver initiative for more hours to part-time workers" 
    publication: "KRON4"
    date: "1/25/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/01/25/initiative-to-increase-hours-for-san-jose-part.html?ana=e_sjo_rdup&s=newsletter&ed=2016-01-25&u=PTO3dBt%2BwV%2Fz1bvgFs8a9A0e574147&t=1453742423"
    headline: "Initiative to increase hours for San Jose part-time workers will be filed today"
    publication: "Silicon Valley Business Journal"
    date: "1/25/16"
-   
    url: "http://www.mercurynews.com/breaking-news/ci_29431142/ballot-measure-san-jose-would-boost-hours-part"
    headline: "Ballot measure in San Jose would boost hours for part-time employees"
    publication: "San Jose Mercury News"
    date: "1/25/16"
-
    url: "http://www.southbaylabor.org/uncategorized/groundbreaking-opportunity-to-work-initiative-filed/"
    headline: "Groundbreaking Opportunity to Work Initiative Filed"
    publication: "South Bay Labor Council"
    date: "1/25/16"
-
    url: "http://www.bizjournals.com/sanjose/news/2016/01/25/new-initiative-would-force-san-jose-employers-to.html?ana=e_sjo_bn_newsalert&u=oGbeU6U+tEJ9ffQEkev7QA077b37e2&t=1453762092"
    headline: "New initiative would force San Jose employers to offer more hours to part-timers before hiring additional staff"
    publication: "Silicon Valley Business Journal"
    date: "1/25/16"
---

<!-- SECTION HEADING -->
<%= partial(:subheader_generic, :locals => { :heading => 'News' }) %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

        <div class="grid grid--two-col grid--seven-three">
        	<div class="grid__col content">

                <ul class="news">
                    <% current_page.data.articles.each do |article| %>
                        <li>
                            <h3 class="news__headline"><a href="<%= article.url %>" target="_blank"><%= article.headline %></a></h3>
                            <p><%= article.publication %>, <%= article.date %></p>
                        </li>
                    <% end %> 
                </ul>

        	</div>
            <div class="grid__col">
                <%= partial(:sidebar, :locals => { :classes => '', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
            </div>

        </div><!-- .grid -->

    </div><!-- .site-section--content -->
</section><!-- .site-section -->



























