---
title: "Why Measure E"
---

<!-- SECTION HEADING -->
<%= partial(:subheader_generic, :locals => { :heading => 'Why Measure E?' }) %>

<!-- MAIN CONTENT -->
<section class="site-section">
    <div class="site-section__content">

    <div class="grid grid--two-col grid--seven-three">
    	<div class="grid__col main-col content">

    		<h2>Silicon Valley is experiencing a crisis of underemployment.</h2>

    		<p>San Jose and other Silicon Valley cities have set national examples by raising their minimum wages. But a higher wage is not enough to cover skyrocketing living costs if you can only get a few hours of work.</p>

            <p>Big corporations in low-wage industries are using <%= link_to 'abusive work schedules', 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :target => '_blank' %> to shift costs onto their employees. Instead of creating full-time jobs, companies are hiring more workers &mdash; but only giving them part-time hours.</p>

            <p>In the past 10 years, the number of hourly workers who do not have full-time work at their primary job has mushroomed. Today, roughly 64,000 workers &mdash; 43&#37; of hourly wage earners &mdash; have part-time or variable schedules at their main job.</p>

            <p>By keeping workers part-time, unscrupulous companies <%= link_to 'avoid providing critical benefits', 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :target => '_blank' %> like health insurance and retirements plans. And nationally, part-timers are typically <%= link_to 'paid a third less per hour', 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :target => '_blank' %> than full-time employees.</p>

            <p>Measure E will help stop this misbehavior. It says that before hiring extra part-time employees, businesses have to offer those hours to current workers who are qualified to do the job.</p>

            <p><%= link_to 'Learn more about how Measure E works', 'about.html' %></p>
    		
    	</div>
    	<div class="grid__col">
            <%= partial(:sidebar, :locals => { :classes => '', :heading => 'Stay Informed', :ask => 'Sign up to get the latest updates on Measure E:' }) %>
    	</div>
    </div><!-- .site-section--content -->
</section><!-- .site-section -->

<!-- MORE LINKS -->
<section class="site-section site-section--green">
    <div class="site-section__content content">

        <ul class="grid--three-col">

            <li class="grid__col">
                <% link_to 'http://www.wpusa.org/Publication/A_Hidden_Crisis.pdf', :class => "media-object link-block link-block--white", :target => "_blank" do %>
                    <img class="media-object__figure media-object__figure--border" src="<%= responsive_img_path('images/report.png', "1x") %>" srcset="<%= responsive_img_path('images/report.png', "1x") %> 1x, <%= responsive_img_path('images/report.png', "2x") %> 2x" alt="A Hidden Crisis Report">
                    <div class="media-object__content">
                        <h3 class="link-block__heading">A Hidden Crisis</h3>
                        <p class="link-block__content">Underemployment in Silicon Valley's hourly workforce</p>
                        <p class="link-block__more-link">Read the report</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <% link_to '/files/OTW_factsheet.pdf', :class => "media-object link-block link-block--white", :target => "_blank" do %>
                    <img class="media-object__figure media-object__figure--border" src="<%= responsive_img_path('images/factsheet.png', "1x") %>" srcset="<%= responsive_img_path('images/factsheet.png', "1x") %> 1x, <%= responsive_img_path('images/factsheet.png', "2x") %> 2x" alt="OTW Factsheet">
                    <div class="media-object__content">
                        <h3 class="link-block__heading">Factsheet</h3>
                        <p class="link-block__content">Printable stats on the underemployment crisis</p>
                        <p class="link-block__more-link">Download</p>
                    </div>
                <% end %>
            </li>

            <li class="grid__col">
                <%= partial "bottom-story" %>
            </li>

        </ul>

    </div><!-- .site-section--content -->
</section><!-- .site-section -->




























